body{
  padding: 0;
  margin: 0;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  color: #000000;
  text-transform: none;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.header-top {
  font-size: 17px;
  background-color: #293449;
  }

  .header-top:hover,
  .header-top:focus,
  .header-top input:hover {
    background-color: #212a3a;
  }

  .header-top:active {
    background-color: #161d29;
  }

.logo-background {
  width: 220px;
  height: 45px;
  background-color: #ee3643;
  border-bottom: 5px solid #b52933;
}

.logo-background:hover,
.logo-background:focus {
  background-color: #ca2c37;
  border-bottom: 5px solid #9a212a;
}

.logo-background:active {
  background-color: #ba2732;
  border-bottom: 5px solid #8e1e26;
}

.header-top input {
  background-color: #293449;
  border: none;
  color: #ffffff;
}

.header-top input:focus {
  background-color: #ffffff;
}

.order-background {
  width: 150px;
  height: 42px;
  background-color: #63a63e;
}

.order-background:hover,
.order-background:focus {
  background-color: #5fbb2d;
}

.order-background:active {
  background-color: #518534;
}

.header-top a {
  color: #ffffff;
}

.header-middle {
  background-color: #f4f7f9;
}

.header-middle h1 {
  font-size: 16px;
  line-height: 23px;
  font-weight: 500;
  font-style: italic;
  color: #ee3643;
  text-align: left;
}

.telephone {
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;
}

.adress {
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}

.nav-user-list {
  font-size: 21px;
  line-height: 21px;
}

.nav-user-list li {
  list-style: none;
}

.nav-user-list a {
  color: #000000;
}

.nav-user-list a:hover,
.nav-user-list a:focus {
  color: #ee3643
}

.nav-user-list a:active {
  color: rgba(0, 0, 0, 0.3);
}

.log-in-item {
  width: 121px;
  height: 45px;
  background-color: #ffffff;
}

.register-item {
  width: 150px;
  height: 45px;
  background-color: #ffffff;
}

.main-nav {
  font-size: 17px;
  line-height: 17px;

  background-color: #32425c;
  border-bottom: 5px solid #293449;
}

.main-nav-list li {
  list-style: none;
}

.main-nav-list li:hover,
.main-nav-list li:focus {
  background-color: #293449;
}
.main-nav-list li:active {
  background-color: #1d2739;
  }
.main-nav a {
  color: #ffffff;
}

.main-about-company h2,
.main-contacts h2 {
  font-size: 30px;
  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;
}

.main-about-company p {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.logistics-company-list {
  font-size: 18px;
  line-height: 20px;
  list-style: none;
}

.button {
  background-color: #ee3643;
  color: #ffffff;
  text-transform: uppercase;
}

.button:hover,
.button:focus {
  background-color: #ca2c37;
}

.button:active {
  background-color: #ba2732;
}

.main-footer {
  font-size: 18px;
  line-height: 24px;
  background-color: #32425c;
}

.footer-top {
  color: #f1f5f7;
  
}

/* скрываю модальные окна */
.modal {
  display: none;
}
