body{
  padding: 0;
  margin: 0;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  color: #000000;
  text-transform: none;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.header-top {
  font-size: 17px;
  background-color: #293449;
  }

  .header-top:hover,
  .header-top:focus,
  .header-top input:hover {
    background-color: #212a3a;
  }

  .header-top:active {
    background-color: #161d29;
  }

.header-logo-background {
  width: 220px;
  height: 45px;
  background-color: #ee3643;
  border-bottom: 5px solid #b52933;
}

.header-logo-background:hover,
.header-logo-background:focus {
  background-color: #ca2c37;
  border-bottom: 5px solid #9a212a;
}

.header-logo-background:active {
  background-color: #ba2732;
  border-bottom: 5px solid #8e1e26;
}

.header-top input {
  background-color: #293449;
  border: none;
  color: #ffffff;
}

.header-top input:focus {
  background-color: #ffffff;
}

.order-background {
  width: 150px;
  height: 42px;
  background-color: #63a63e;
}

.order-background:hover,
.order-background:focus {
  background-color: #5fbb2d;
}

.order-background:active {
  background-color: #518534;
}

.header-top a {
  color: #ffffff;
}

.header-middle {
  background-color: #f4f7f9;
}

.header-middle h1 {
  font-size: 16px;
  line-height: 23px;
  font-weight: 500;
  font-style: italic;
  color: #ee3643;
  text-align: left;
}

.header-middle-contacts-telephone {
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;
}

.header-middle-contacts-adress {
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}

.nav-user-list {
  font-size: 21px;
  line-height: 21px;
}

.nav-user-list li {
  list-style: none;
}

.nav-user-list a {
  color: #000000;
}

.nav-user-list a:hover,
.nav-user-list a:focus {
  color: #ee3643
}

.nav-user-list a:active {
  color: rgba(0, 0, 0, 0.3);
}

.log-in-item {
  width: 121px;
  height: 45px;
  background-color: #ffffff;
}

.register-item {
  width: 150px;
  height: 45px;
  background-color: #ffffff;
}

.main-nav {
  font-size: 17px;
  line-height: 17px;

  background-color: #32425c;
  border-bottom: 5px solid #293449;
}

.main-nav-list li {
  list-style: none;
}

.main-nav-list li:hover,
.main-nav-list li:focus {
  background-color: #293449;
}

.main-nav-list li:active {
  background-color: #1d2739;
  }

.main-nav a {
  color: #ffffff;
}

/* Стилизация дополнительных страниц */
.header-middle p:nth-child(1) {
  font-size: 16px;
  line-height: 23px;
  font-weight: 500;
  font-style: italic;
  color: #ee3643;
  text-align: left;
}

.nav-user-container {
  width: 299px;
  height: 45px;

  background-color: #ffffff
}

.user-name {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
}

.nav-user-cabinet {
  font-size: 16px;
  line-height: 18px;
}

.nav-user-cabinet li {
  list-style: none;
  text-decoration: underline;
}

.nav-user-cabinet a {
  color: #32425c;
}

.nav-user-cabinet a:hover,
.nav-user-cabinet a:focus {
  color: #ee3643;
}

.nav-user-cabinet a:active {
  color: rgba(50, 66, 92, 0.3)
}


/* стилизация главных секций страницы */

.main-about-company h2,
.main-contacts h2 {
  font-size: 30px;
  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;
}

.main-about-company p {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.logistics-company-list {
  font-size: 18px;
  line-height: 20px;
  list-style: none;
}

.button {
  background-color: #ee3643;
  color: #ffffff;
  text-transform: uppercase;
}

.button:hover,
.button:focus {
  background-color: #ca2c37;
}

.button:active {
  background-color: #ba2732;
}

/* стилизация главной секции дополнительных страниц */
h3 {
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;

}

.container {
  font-family: "PT Sans", Arial, sans-serif;
}
.breadcrumbs {
  list-style: none;
}

.breadcrumbs a {
  font-size: 13px;
  text-transform: uppercase;
  color: #000000;
}

.name-item-catalog {
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: 500;
  font-size: 30px;
  line-height: 30px;
  background-color: #f2f6f8;
}

.filter fieldset {
  border: none;
}

.filter legend {
  font-weight: 700;
  font-size: 17px;
  line-height: 30px;
}

.filter-form label {
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
}

.filter-input:disabled + label {
  color: rgba(0, 0, 0, 0.4);
}

.filter-button {
  font-size: 13px;
  line-height: 18px;

  background-color: inherit;
  border: 1px solid #e5e5e5;
}

.catalog-list {
  list-style: none;
}

.catalog-item {
  border: 1px solid #e5e5e5;
}

.item-action-hidden {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
}

.action-buy {
  color: #ffffff;

  background-color: #63a63e;
  box-shadow: 0 0 3px #367315;
  border-radius: 2px;
}

.action-buy:hover,
.action-buy:focus {
  background-color: #5fbb2d;
}

.action-buy:active {
  background-color: #518534;
}

.action-bookmarks {
  color: #32425c;

  background-color: inherit;
  border: 3px solid #63a63e;
  border-radius: 2px;
}

.action-bookmarks:hover,
.action-bookmarks:focus {
  border: 3px solid #32425c;
}

.action-bookmarks:active {
  opacity: 0.3;
}

.price {
    font-size: 17px;
    line-height: 18px;
    font-weight: 700;
}

.old-price {
  color: #999999;
  text-decoration: line-through;
}

.current-price {
  color: #ffffff;
}

/* стилизация футера */

.main-footer {
  font-size: 18px;
  line-height: 24px;
  background-color: #32425c;
}

.main-footer ul {
  list-style: none;
}

.footer-background-logo {
  width: 220px;
  height: 63px;
  background-color: #ee3643;
  border-bottom: 5px solid #b52933;
}

.footer-top-nav-item a {
  color: #f1f5f7;
}

.footer-top-nav-item a:hover,
.footer-top-nav-item a:focus,
.footer-middle-nav-item a:hover,
.footer-middle-nav-item a:focus {
  text-decoration: underline;
}

.footer-top-nav-item a:active {
  color: rgba(241, 245, 247, 0.5);
  text-decoration: none;
}

.footer-middle p {
  color: #f3f7f9;
}

.footer-middle-nav-item a {
  color: #ffd180;
}

.footer-middle-nav-item a:active {
  color: rgba(255, 209, 128, 0.5);
  text-decoration: none;
}

.footer-bottom {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;

  background-color: #293449;
}

/* Стилизация соц.сетей */

.footer-link {
  color: #ffd180;
}

.footer-link:hover,
.footer-link:focus {
  text-decoration: underline;
}

.footer-link:active {
  color: #ee3643;
  text-decoration: none;
}

/* скрываю модальные окна */
.modal {
  display: none;
}
